<!doctype html>
<html class="" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Booch Boutique</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="images/apple-touch-icon.png" type="images/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href="#" data-style="styles" rel="stylesheet">
    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  
    
    <div class="wrapper white-bg">
        <!--header section start-->
        <!--header section start-->
        <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="header-left">
                            <div class="call-center">
                                <p><i class="zmdi zmdi-phone"></i>+012 345 678 102</p>
                            </div>
                            <div class="mail-address">
                                <p><i class="zmdi zmdi-email"></i>info@example.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="social-icons">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-dribbble"></i></a>
                            <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="mgea-full-width">
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-xs-9">
                            <div class="logo">
                                <a href="index.html"><img src="images/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-8 hidden-sm hidden-xs">
                            <div class="menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="shop.html">Products</a>
                                            <ul class="dropdown_menu">
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">about us</a></li>
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="contact-us.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-3">
                            <div class="header-action-box">
                                <div class="search">
                                    <a href="#"><i class="zmdi zmdi-search"></i></a>
                                </div>
                            </div>
                            <div class="search-box">
                                <div class="search-form">
                                    <form action="#" id="search-form">
                                        <input type="search" name="search" placeholder="Search here...">
                                        <button type="submit">
                                            <span><i class="fa fa-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile menu start -->
            <div class="mobile-menu-area hidden-lg hidden-md">
                <div class="container">
                    <div class="col-md-12">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop.html">Products</a>
                                    <ul class="dropdown_menu">
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop.html">shop</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">about us</a></li>
                                <li><a href="blog.html">blog</a></li>
                                <li><a href="contact-us.html">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Mobile menu end -->
        </div>
    </div>
        <!--header section end-->
        <!--header section end-->
        <!--Breadcrumbs start-->
        <div class="breadcrumbs text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="breadcrumbs-title">
                            <h2>About us</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumbs-menu">
                <ul>
                    <li><a href="#">hOME <span>//</span></a></li>
                    <li>About us</li>
                </ul>
            </div>
        </div>
        <!--Breadcrumbs end-->
        
        <!--About us start-->
        <div class="about-us ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-desc">
                            <h2>About Our Booch Boutique</h2>
                            <p class="text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor libero, eget loved venenatis mauris finibus dictum. Vestibulum quis elit eget neque porttitor  no amet dolor. Proin pretium purus a lorem ornare</p>
                            <p class="text-2">sed lobortis pulvinar. Integer laoreet mi id eros porta euismod. Suspendisse potenti. Nulla eros mauris, convallis et sem tempus, viverra hendrerit sapien  Lorem  amet, consectetur adipiscing elit. Donec aliquet dolor libero, </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="about-us-img">
                            <img src="images/about/about-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--About us end-->
        <!--choose us start-->
        <div class="choose-us ptb-100 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title bg_grey text-center">
                            <h2>why choose us?</h2>
                            <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7 col-sm-6">
                        <div class="choose-us-img">
                            <img src="images/about/choose.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <div class="choose-us-list">
                            <div class="single-choose">
                                <div class="choose-head">
                                    <div class="choose-icon">
                                        <i class="zmdi zmdi-favorite"></i>
                                    </div>
                                    <div class="choose-title">
                                        <h5>Beautiful & sexy Life</h5>
                                    </div> 
                                </div>
                                <div class="choose-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis . </p>
                                </div>
                            </div>
                            <div class="single-choose">
                                <div class="choose-head">
                                    <div class="choose-icon">
                                        <i class="fa fa-pagelines" aria-hidden="true"></i>
                                    </div>
                                    <div class="choose-title">
                                        <h5>natural atmosphere</h5>
                                    </div> 
                                </div>
                                <div class="choose-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis . </p>
                                </div>
                            </div>
                            <div class="single-choose">
                                <div class="choose-head">
                                    <div class="choose-icon">
                                        <i class="zmdi zmdi-mood"></i>
                                    </div>
                                    <div class="choose-title">
                                        <h5>xoss environment</h5>
                                    </div> 
                                </div>
                                <div class="choose-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis . </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--choose us end-->        
        
        <!--footer start-->
        <div class="footer">
        <div class="footer-top ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-footer contact">
                            <div class="footer-title">
                                <h3>Contact us</h3>
                            </div>
                            <div class="contact-action mb-15">
                                <span><i class="zmdi zmdi-pin"></i></span>
                                <p>House No 08, Road No 08,<br>Din Bari, Dhaka, Bangladesh</p>
                            </div>
                            <div class="contact-action mb-15">
                                <span><i class="zmdi zmdi-email"></i></span>
                                <p>info@example.com<br>info@example.com</p>
                            </div>
                            <div class="contact-action">
                                    <span>
                                        <i class="zmdi zmdi-phone"></i>
                                    </span>
                                <p>+012 345 678 102<br>+012 345 678 102</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="single-footer quick-links">
                            <div class="footer-title">
                                <h3>Quick links</h3>
                            </div>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop.html">Products</a></li>
                                <li><a href="about-us.html">About</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact-us.html">contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-footer open-hours">
                            <div class="footer-title">
                                <h3>Open hours</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetueiusmodm dost adipisicing elit, sed do eiusmod is
                                tempincididuntm ut
                                lorem ipsome do or sit amt labore et dolor </p>
                            <ul>
                                <li>Monday - Friday <span>8.00-5.00</span></li>
                                <li>Saturday <span>12.00-5.00</span></li>
                                <li>Sunday <span class="close">close</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright">
                            <p>
                                Copyright© Booch Boutique 2020.All right reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--footer end-->
       
    </div>

    <!-- All js plugins included in this file. -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nivo.slider.pack.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/ajax-mail.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>


</html>