<!doctype html>
<html class="" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Booch Boutique</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="images/apple-touch-icon.png" type="images/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link href="#" data-style="styles" rel="stylesheet">
    <!-- Modernizr JS -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  
    
    <div class="wrapper white-bg">
         <!--header section start-->
        <!--header section start-->
        <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="header-left">
                            <div class="call-center">
                                <p><i class="zmdi zmdi-phone"></i>+012 345 678 102</p>
                            </div>
                            <div class="mail-address">
                                <p><i class="zmdi zmdi-email"></i>info@example.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="social-icons">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="#"><i class="zmdi zmdi-dribbble"></i></a>
                            <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="mgea-full-width">
                    <div class="row">
                        <div class="col-md-2 col-sm-6 col-xs-9">
                            <div class="logo">
                                <a href="index.html"><img src="images/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-8 hidden-sm hidden-xs">
                            <div class="menu">
                                <nav>
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="shop.html">Products</a>
                                            <ul class="dropdown_menu">
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                                <li><a href="shop.html">shop</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">about us</a></li>
                                        <li><a href="blog.html">blog</a></li>
                                        <li><a href="contact-us.html">contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-3">
                            <div class="header-action-box">
                                <div class="search">
                                    <a href="#"><i class="zmdi zmdi-search"></i></a>
                                </div>
                            </div>
                            <div class="search-box">
                                <div class="search-form">
                                    <form action="#" id="search-form">
                                        <input type="search" name="search" placeholder="Search here...">
                                        <button type="submit">
                                            <span><i class="fa fa-search"></i></span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile menu start -->
            <div class="mobile-menu-area hidden-lg hidden-md">
                <div class="container">
                    <div class="col-md-12">
                        <nav id="dropdown">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop.html">Products</a>
                                    <ul class="dropdown_menu">
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop.html">shop</a></li>
                                        <li><a href="shop.html">shop</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">about us</a></li>
                                <li><a href="blog.html">blog</a></li>
                                <li><a href="contact-us.html">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Mobile menu end -->
        </div>
    </div>
        <!--header section end-->
        <!--header section end-->
        <!--Breadcrumbs start-->
        <div class="breadcrumbs text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumbs-title">
                            <h2>Contact us</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcrumbs-menu">
                <ul>
                    <li><a href="#">hOME <span>//</span></a></li>
                    <li>Contact us</li>
                </ul>
            </div>
        </div>
        <!--Breadcrumbs end-->
        <div id="contact-map" class="map-area">
            <div id="googleMap" style="width:100%;height:500px;"></div>
        </div> 
        <!--Contact start-->
        <div class="contact-us">
            <div class="container">
                <div class="row">
                    <div class="contact-list fix">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-contact">
                                <div class="contact-icon">
                                    <a href="#"><i class="zmdi zmdi-phone"></i></a>
                                </div>
                                <div class="contact-desc">
                                    <p>+012 345 678 102<br>+012 345 678 102</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-contact text-center">
                                <div class="contact-icon">
                                    <a href="#"><i class="zmdi zmdi-dribbble"></i></a>
                                </div>
                                <div class="contact-desc">
                                    <p>info@example.com<br>info@example.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="single-contact float-right">
                                <div class="contact-icon">
                                    <a href="#"><i class="zmdi zmdi-pin"></i></a>
                                </div>
                                <div class="contact-desc">
                                    <p> ur address goes here,<br>street,Crossroad123.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact end-->
        <!--Contact form start-->
        <div class="contact-form ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title text-center">
                            <h2>Get in touch</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="contact-form">
                            <p class="form-messege"></p>
                            <form id="contact-form" method="post">
                                <input name="name" type="text" placeholder="Name">
                                <input name="email" type="text" placeholder="Email">
                                <textarea name="message" placeholder="Message"></textarea>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="contact-form-img text-center">
                            <img src="images/common/contact.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Contact form end-->
        

        <!--footer start-->
        <div class="footer">
        <div class="footer-top ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-footer contact">
                            <div class="footer-title">
                                <h3>Contact us</h3>
                            </div>
                            <div class="contact-action mb-15">
                                <span><i class="zmdi zmdi-pin"></i></span>
                                <p>House No 08, Road No 08,<br>Din Bari, Dhaka, Bangladesh</p>
                            </div>
                            <div class="contact-action mb-15">
                                <span><i class="zmdi zmdi-email"></i></span>
                                <p>info@example.com<br>info@example.com</p>
                            </div>
                            <div class="contact-action">
                                    <span>
                                        <i class="zmdi zmdi-phone"></i>
                                    </span>
                                <p>+012 345 678 102<br>+012 345 678 102</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="single-footer quick-links">
                            <div class="footer-title">
                                <h3>Quick links</h3>
                            </div>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop.html">Products</a></li>
                                <li><a href="about-us.html">About</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact-us.html">contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-footer open-hours">
                            <div class="footer-title">
                                <h3>Open hours</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetueiusmodm dost adipisicing elit, sed do eiusmod is
                                tempincididuntm ut
                                lorem ipsome do or sit amt labore et dolor </p>
                            <ul>
                                <li>Monday - Friday <span>8.00-5.00</span></li>
                                <li>Saturday <span>12.00-5.00</span></li>
                                <li>Sunday <span class="close">close</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright">
                            <p>
                                Copyright© Booch Boutique 2020.All right reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--footer end-->
       
    </div>
    
   <!-- Map js code here -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdWLY_Y6FL7QGW5vcO3zajUEsrKfQPNzI"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="js/map.js"></script>

    <!-- All js plugins included in this file. -->
    <script src="js/vendor/jquery-1.12.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nivo.slider.pack.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/ajax-mail.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>


</html>